<div class="content-section implementation">
  <div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button></div>
  <p-dataTable [value]="alumni | async" selectionMode="single" [(selection)]="selectedAlumn" (onRowSelect)="onRowSelect($event)" [paginator]="true" rows="100" [responsive]="true">
    <p-column field="firstname" header="Firstname" [sortable]="true"></p-column>
    <p-column field="lastname" header="Lastname" [sortable]="true"></p-column>
    <p-column field="email" header="Email" [sortable]="true"></p-column>
    <p-column field="address" header="Address" [sortable]="true"></p-column>
  </p-dataTable>

  <p-dialog header="Alumni Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="alumn">
      <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="firstname">Firstname</label></div>
        <div class="ui-grid-col-8"><input pInputText id="firstname" [(ngModel)]="alumn.firstname" /></div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="lastname">Lastname</label></div>
        <div class="ui-grid-col-8"><input pInputText id="lastname" [(ngModel)]="alumn.lastname" /></div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="email">Email</label></div>
        <div class="ui-grid-col-8"><input pInputText id="email" [(ngModel)]="alumn.email" /></div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="address">Address</label></div>
        <div class="ui-grid-col-8"><input pInputText id="address" [(ngModel)]="alumn.address" /></div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
        <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
      </div>
    </p-footer>
  </p-dialog>
</div>
