<style>
  body { text-align: center; padding: 150px; }
  h1 { margin-top:50px; font-size: 50px; }
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>

<article>
  <h1>We&rsquo;ll be back soon!</h1>
  <div>
    <p>Sorry for the inconvenience but we&rsquo;re relaunching the plattform at the moment. If you need to you can always <a href="https://www.facebook.com/al.umnicons.39" target="_blank">contact us</a>,
      otherwise we plan to be back online soon!</p>
    <p>&mdash; The <a href="https://www.facebook.com/al.umnicons.39" target="_blank">Alumnicons Team</a></p>
  </div>
</article>
